<form>
  <h1>Login</h1>

  <mat-form-field class="form">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="usuario.email" [formControl]="mail" required type="text" name="titulo" placeholder="Email" maxlength="100">

  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="usuario.password"  [formControl]="password" required type="text" name="nome_autor" placeholder="Senha" maxlength="100">
  </mat-form-field>


  <div class="buttons">
    <button  class="mat-elevation-z8" mat-stroked-button color="primary"> Login </button>
    <button  class="mat-elevation-z8" mat-stroked-button color="warn"> Voltar </button>
  </div>

</form>
