<div class="content">

  <div class="title">
    <h1>Marcas</h1>
  </div>

  <button class="mat-elevation-z8" (click)="createMarca()" mat-stroked-button color="primary"> Nova Marca </button>

  <div *ngIf="marcas && dataSource" class="mat-elevation-z8 content-table">


    <mat-form-field appearance="outline">
      <mat-label>Procurar</mat-label>
      <input matInput placeholder="Ex.nike" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <table class="table" mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="livros">
        <th mat-header-cell *matHeaderCellDef>LIVROS</th>
        <td mat-cell *matCellDef="let row">
          <a class="livros" routerLink="{{ row.id }}/livros">
            <i class="material-icons">book</i>
          </a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.id }}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="marcas.length" [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
</div>
