.container {
  height: 85%;
}

i {
  padding-right: .6rem;
}

.side {
  width: 12%;
}

mat-nav-list {
  justify-content: center;
}

.nav {
  width: 50%;
}
.mat-icon{

  padding-right: 5px;
}
a{
  text-align: center;
}
