<mat-sidenav-container class="container">
  <mat-sidenav class="side" mode="side" opened>
    <mat-nav-list >
      <a routerLink="/" mat-list-item>
        <mat-icon svgIcon="home"></mat-icon>
        Home
      </a>
      <a routerLink="/produtos" mat-list-item>
        <mat-icon svgIcon="Roupa"></mat-icon>
        Roupas
      </a>
      <a routerLink="/pedidos" mat-list-item>
        <mat-icon svgIcon="pedido"></mat-icon>
        Pedidos
      </a>
      <a routerLink="/marcas" mat-list-item>
        <mat-icon svgIcon="brand"></mat-icon>
           Marcas
      </a>
      <a routerLink="#" mat-list-item>
        <mat-icon svgIcon="pessoa"></mat-icon>
          Usuarios
      </a>
      <a (click)="logout()" mat-list-item>
       <mat-icon>logout</mat-icon>
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
