<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%">
  <thead>
    <tr>
      <th style="text-align: left;">N° Pedido</th>
      <th style="text-align: left;">Solicitante</th>
      <th style="text-align: left;">Telefone</th>
      <th style="text-align: left;">Vlr. Total Pedido</th>
      <th style="text-align: left;">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dto of ordersByStatusDTO">
      <td>{{ dto.orderNumber }}</td>
      <td>{{ dto.userName }}</td>
      <td>{{ dto.phone }}</td>
      <td>{{ dto.totalValue | currencyFormat}}</td>
      <td>{{ dto.status }}</td>
    </tr>
  </tbody>
</table>
