.page {
  display: flex;
  width: 87%;
  flex-direction: column;
  gap: 10px
}

.line {
  display: flex;
  flex-direction: row;
  height: 20%;
  gap: 10px;
}

.card {
  box-shadow: 2px 3px 3px #777;
  padding: 10px;
  background: white;
  flex: 1;
}
