<div class="page">

  <div class="line">
    <div class="card">
      <app-graphic-pizza></app-graphic-pizza>
    </div>
    <div class="card">
      <app-graphic-column></app-graphic-column>
    </div>
  </div>
</div>
<div class="line" style="width: 99%; margin-top: 10px; margin-left: 5px;">
  <app-order-table style="width: 100%;"></app-order-table>
</div>

