<div class="content">

  <div class="title">
    <h1>Item Ordens</h1>
  </div>


  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="itemOrdem" >

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
      </ng-container>
      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let row">{{ row.product.name }}</td>
      </ng-container>
   <ng-container matColumnDef="produtoid">
        <th mat-header-cell *matHeaderCellDef>codigo do produto</th>
        <td mat-cell *matCellDef="let row">{{ row.product.id }}</td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
