<div class="content">

  <div class="title">
    <h1>Ordens de Compra</h1>
  </div>


  <div *ngIf="ordem && dataSource" class="mat-elevation-z8 content-table">


    <mat-form-field appearance="outline">
      <mat-label>Procurar Status</mat-label>
      <input matInput placeholder="Ex. Watlas" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <table class="table" mat-table [dataSource]="dataSource" matSort matSortActive="status" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>codigo</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef >email</th>
        <td mat-cell *matCellDef="let row">{{ row.usuario.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>
      <ng-container matColumnDef="data de compra">
        <th mat-header-cell *matHeaderCellDef >Data de Compra</th>
        <td mat-cell *matCellDef="let row">{{ row.date_purchase | date: 'longDate'  }}</td>
      </ng-container>


      <ng-container matColumnDef="Ordem Info">
        <th mat-header-cell *matHeaderCellDef>Ordem Info</th>
        <td mat-cell *matCellDef="let row">
          <a class="livros" routerLink="itemOrdered/{{ row.id }}">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row">
          <a class="delete" routerLink="editar/{{ row.id }}">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>edit</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef >Valor Total</th>
        <td mat-cell *matCellDef="let row">{{ row.totalPrice  | currency: "BRL"}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="ordem.length" [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
</div>
