.footer{
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  height: 5%;

  color: white;
  font-size: 14px;
  text-shadow: 2px 2px 2px black;
  background: #6b6c68;
  font-family: 'Courier New', Courier, monospace;
}
span{
  color: white;
}
