<form>
  <h1>EDITANDO MARCA</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="marca.name" [formControl]="nome" type="text" name="nome" placeholder="Ex. Nike">
    <mat-error *ngIf="nome.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button (click)="editar()" [disabled]="getMessage() || buttonDisable" class="mat-elevation-z8" mat-stroked-button color="primary"> EDITAR </button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
  </div>

</form>
