<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrapper">


  <!-- Navbar -->
  <nav style="width: 20px" class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul    class="navbar-nav">
      <li   class="nav-item">
        <a  class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{loggedUser.name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home/Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/produtos" class="nav-link">
              <i class="fas fa-tshirt"></i>
              <p>
                Produtos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pedidos" class="nav-link">
              <i class="fas fa-list"></i>
              <p>
                Pedidos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/marcas" class="nav-link">
              <i class="fas fa-socks"></i>
              <p>
                Marcas

              </p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>
                Sair

              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- /.content-header -->

    <router-outlet></router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright Senai 2021 <a href="https://fashion-boot-client.herokuapp.com/">FashionBoot</a>.</strong>

    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> V1
    </div>
  </footer>
</div>
<!-- ./wrapper -->


