<form *ngIf="pedido.usuario.email">
  <h1>Editando Pedido</h1>

  <mat-form-field class="form">
    <mat-label>Codigo da Compra</mat-label>
    <input matInput [(ngModel)]="pedido.id" type="text" name="id"  placeholder="Ex. Nike" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Email do Cliente</mat-label>
    <input matInput [(ngModel)]="pedido.usuario.email" type="text"   name="email" placeholder="Ex. Nike" disabled >
  </mat-form-field>

  <mat-form-field appearance="fill" class="form">
    <mat-label>GENERO</mat-label>
    <mat-select [(ngModel)]="pedido.status" [formControl]="status">
      <mat-option value="Pendente">Pendente</mat-option>
      <mat-option value="Finalizado">Finalizado</mat-option>
      <mat-option value="Cancelado">Cancelado</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="buttons">
    <button (click)="create()" [disabled]="getMessage() || buttonDisable" class="mat-elevation-z8" mat-stroked-button color="primary"> EDITAR </button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
  </div>
  <br>
  <div class="spinner-container" *ngIf="buttonDisable">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</form>
