<form *ngIf="brandd && cate">
  <h1>EDITANDO PRODUTO</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="product.name" [formControl]="name" required type="text" name="name"
           placeholder="nome do produto" maxlength="50">
    <mat-error *ngIf="name.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field class="form">
    <mat-label>Detalhes</mat-label>
    <textarea matInput [(ngModel)]="product.detail" [formControl]="detail" required type="text" name="detail"
              placeholder="Detalhe do produto" maxlength="500"></textarea>
    <mat-error *ngIf="detail.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="product.description" [formControl]="description" required type="text"
              name="description"
              placeholder="descrição do produto" maxlength="300"></textarea>
    <mat-error *ngIf="description.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>


  <!--  preco do produto-->
  <mat-form-field class="form">
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="product.salePrice" [formControl]="salePrice" required type="text" name="salePrice"
           placeholder="preço do produto" maxlength="100">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form">
    <mat-label>CATEGORIA</mat-label>
    <mat-select [(ngModel)]="product.category.id" [formControl]="categoria">
      <mat-option *ngFor="let client of cate" [value]="client.id">{{ client.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--  combo box marca-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>MARCA</mat-label>
    <mat-select [(ngModel)]="product.brand.id" [formControl]="marca">
      <mat-option *ngFor="let client of brandd" [value]="client.id">{{ client.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!--  combo box para saber se esta a venda-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>À VENDA</mat-label>
    <mat-select [(ngModel)]="product.onSale" [formControl]="onSale"  >
      <mat-option [value]="true">SIM</mat-option>
      <mat-option [value]="false">NÃO</mat-option>
    </mat-select>
  </mat-form-field>
  <!--  combo box para saber se esta em estoque-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>EM ESTOQUE</mat-label>
    <mat-select  [(ngModel)]=" product.inStock" [formControl]="inStock">
      <mat-option [value]="true">SIM</mat-option>
      <mat-option [value]="false">NÃO</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form">
    <mat-label>GENERO</mat-label>
    <mat-select [(ngModel)]="product.gender" [formControl]="gender">
      <mat-option value="M">Masculino</mat-option>
      <mat-option value="F">Feminino</mat-option>
    </mat-select>
  </mat-form-field>
  opçoes tamanhos do produto
  <section class="form">
    <mat-checkbox [checked]= "ccheckP" class="check" #checkP>P</mat-checkbox>
    <mat-checkbox [checked]= "ccheckM" class="check" #checkM>M</mat-checkbox>
    <mat-checkbox [checked]= "ccheckG" class="check" #checkG>G</mat-checkbox>
    <mat-checkbox [checked]= "ccheckGG" class="check" #checkGG>GG</mat-checkbox>
  </section>

  <!--  input da image-->
  <div  class="form" ><mat-card>
    <mat-card-content>
      <ul>
        <li *ngFor="let file of files">
          <span id="file-label">

                    </span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions >
      <button mat-button color="warn" (click)="onClick()">
        <mat-icon>file_upload</mat-icon>
        Upload
      </button>
    </mat-card-actions>
  </mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>


    <table class="table" mat-table [dataSource]="gallery">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container   matColumnDef="link">
        <th  mat-header-cell *matHeaderCellDef>Link da Foto</th>
     <td  mat-cell *matCellDef="let row" ><a href="{{ row.name }}"  target="_blank">{{ row.name }}</a></td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a class="delete" (click)="deleteFoto(row.id)">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="fotosColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: fotosColumns"></tr>
    </table>

  <div class="spinner-container" *ngIf="spiner == false">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="buttons">
    <button (click)="uploadFiles()" [disabled]="getMessage() || buttonDisable" class="mat-elevation-z8" mat-stroked-button color="primary"> Editar</button>
    <button  (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR</button>
  </div>


</form>
