<form *ngIf="brandd && cate">
  <h1>CRIANDO NOVO PRODUTO</h1>

  <mat-form-field class="form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="product.name" [formControl]="name" required type="text" name="name"
           placeholder="nome do produto" maxlength="50">
    <mat-error *ngIf="name.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="product.description" [formControl]="description" required type="text"
                name="description"
                placeholder="descrição do produto" maxlength="300"></textarea>
      <mat-error *ngIf="description.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>


  <mat-form-field class="form">
    <mat-label>Detalhes</mat-label>
    <textarea matInput [(ngModel)]="product.detail" [formControl]="detail" required type="text" name="detail"
              placeholder="Detalhe do produto" maxlength="500"></textarea>
    <mat-error *ngIf="detail.invalid">{{ getMessage() }}</mat-error>
  </mat-form-field>




  <!--  preco do produto-->
  <mat-form-field class="form">
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="product.salePrice" [formControl]="salePrice" required type="text" name="salePrice"
           placeholder="preço do produto" maxlength="100">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form">
    <mat-label>CATEGORIA</mat-label>
    <mat-select [(ngModel)]="product.category.id" [formControl]="categoria">
      <mat-option *ngFor="let client of cate" [value]="client.id">{{ client.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--  combo box marca-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>MARCA</mat-label>
    <mat-select [(ngModel)]="product.brand.id" [formControl]="marca">
      <mat-option  *ngFor="let client of brandd" [value]="client.id">{{ client.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!--  combo box para saber se esta a venda-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>À VENDA</mat-label>
    <mat-select [(ngModel)]="product.onSale" [formControl]="onSale">
      <mat-option value=true>SIM</mat-option>
      <mat-option value=false>NAO</mat-option>
    </mat-select>
  </mat-form-field>
  <!--  combo box para saber se esta em estoque-->
  <mat-form-field appearance="fill" class="form">
    <mat-label>EM ESTOQUE</mat-label>
    <mat-select [(ngModel)]="product.inStock" [formControl]="inStock">
      <mat-option value=true>SIM</mat-option>
      <mat-option value=false>NAO</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form">
    <mat-label>GENERO</mat-label>
    <mat-select [(ngModel)]="product.gender" [formControl]="gender">
      <mat-option value="M">Masculino</mat-option>
      <mat-option value="F">Feminino</mat-option>
    </mat-select>
  </mat-form-field>
  opçoes tamanhos do produto
  <section class="form">
    <mat-checkbox class="check" #checkP>P</mat-checkbox>
    <mat-checkbox  class="check" #checkM>M</mat-checkbox>
    <mat-checkbox  class="check" #checkG>G</mat-checkbox>
    <mat-checkbox class="check" #checkGG>GG</mat-checkbox>
  </section>

  <!--  input da image-->
  <div  class="form" ><mat-card class="form">
    <mat-card-content>
      <ul>
        <li *ngFor="let file of files">
          <span id="file-label">

                    </span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions >
      <button mat-button color="warn" (click)="onClick()">
        <mat-icon>file_upload</mat-icon>
        Upload
      </button>
    </mat-card-actions>
  </mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>

  <div class="spinner-container" *ngIf="spiner == false">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="buttons">
    <button (click)="uploadFiles()" [disabled]="getMessage() || buttonDisable" class="mat-elevation-z8" mat-stroked-button color="primary"> CRIAR</button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR</button>
  </div>


</form>
