form {
  text-align: center;
  width: 70%;
  margin: 2rem auto 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.form {
  width: 100%;

}

.buttons {
  width: 100%;
  text-align: start;
  margin-bottom: 5rem;
  margin-left: 40%;
  margin-top: 3rem;
}
.imagem {
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.check{
  margin-right: .5rem;
}

button {
  margin-right: .5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.combo{
  width: 40%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 30px;
}

.file-input {
  display: none;
}
