
<div class="content" *ngIf="produtos">

  <div class="title">
    <h1>PRODUTOS</h1>
  </div>


  <button class="mat-elevation-z8" (click)="navegarParaCriarProduto()" mat-stroked-button color="primary"> ADICIONAR PRODUTO </button>
  <div class="mat-elevation-z8 content-table">


    <mat-form-field appearance="outline">
      <mat-label>Procurar</mat-label>
      <input matInput placeholder="Ex. camisa nike" #input>
      <mat-icon matSuffix>search</mat-icon>

    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <table class="table" mat-table [dataSource]="dataSource"  matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container disabled matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let row">{{ row.category.name }}</td>
      </ng-container>
      <ng-container disabled matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let row">{{ row.brand.name }}</td>
      </ng-container>
      <ng-container matColumnDef="onSale">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell  *matCellDef="let row" >{{ row.onSale && 'Sim' || 'Não'}}</td>
      </ng-container>
      <ng-container matColumnDef="salePrice">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let row">{{ row.salePrice  | currency: "BRL" }}</td>
      </ng-container>
      <ng-container matColumnDef="inStock">
        <th mat-header-cell *matHeaderCellDef>Em Estoque</th>
        <td mat-cell *matCellDef="let row">{{ row.inStock  && 'Sim' || 'Não' }}</td>

      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gênero</th>
        <td mat-cell *matCellDef="let row">{{ row.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="livros">
        <th mat-header-cell *matHeaderCellDef>LER LIVRO</th>
        <td mat-cell *matCellDef="let row">
          <a class="livros" routerLink="{{ row.id }}/read">
            <i class="material-icons">book</i>
          </a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.id }}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="produtos.length" [pageSize]="10"
                   [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
  </div>
</div>

