<form *ngIf="marca">
  <h1>EXCLUIR MARCA</h1>

  <mat-form-field class="form" >
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="marca.name" [formControl]="nome" type="text" name="nome" placeholder="Ex. Nike">
  </mat-form-field>

  <div class="buttons">
    <button (click)="deletar()" class="mat-elevation-z8" mat-stroked-button color="primary"> EXCLUIR </button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
  </div>

</form>
